In [5]:
import pandas as pd
from collections import Counter

In [ ]:
train = pd.read_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_11,15,16,17.xlsx')

In [ ]:
train11=train.loc[(train["time"]=="2014-12-11")]
train15=train.loc[(train["time"]=="2014-12-15")]
train16=train.loc[(train["time"]=="2014-12-16")]
train17=train.loc[(train["time"]=="2014-12-17")]

In [ ]:
print(train11)
print(train15)
print(train16)
print(train17)

In [ ]:
train11.to_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_11.xlsx')
train15.to_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_15.xlsx')
train16.to_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_16_1.xlsx')
train17.to_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_17.xlsx')

In [6]:
df = pd.read_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_tianchi_fresh_comp_train_user_train3_13,14.xlsx')

In [7]:
print(df.head(10))

    user_id    item_id  behavior_type user_geohash  item_category  \
0  10001082  275221686              1          NaN          10576
1  10001082  220586551              1          NaN           7079
2  10001082  209290607              1          NaN           5894
3  10001082  125083630              1          NaN           4722
4  10001082  275221686              1          NaN          10576
5  10001082  110790001              1          NaN          13230
6  10001082  220586551              4          NaN           7079
7  10001082   85851739              1          NaN           2825
8  10001082  278017344              1          NaN           5334
9  10001082  216415944              1          NaN           5176

            time
0  2014-12-13 14
1  2014-12-14 03
2  2014-12-14 16
3  2014-12-14 03
4  2014-12-13 14
5  2014-12-14 16
6  2014-12-14 03
7  2014-12-14 16
8  2014-12-14 03
9  2014-12-13 14

In [8]:
df['behavior_type1']=df['behavior_type'].apply(lambda x: list(str(x)))

In [9]:
df['user_id1'] = df['user_id'].apply(lambda x: [str(x)])

In [10]:
print(df['behavior_type1'].loc[0])

['1']

In [11]:
a = df.groupby('user_id')['behavior_type1'].sum()

In [15]:
b = df.groupby('item_id')['behavior_type1'].sum()

In [16]:
c = df.groupby('item_id')['user_id1'].sum()

# Construct three sequence features

In [17]:
data = pd.DataFrame()
data['Behavior_list'] = a
print(data.head(10))

                                              Behavior_list
user_id
100605    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1031737   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1042942                         [1, 1, 1, 1, 1, 1, 3, 1, 1]
1050718   [1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, ...
1087279   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1094209   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1111549   [1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
10001082  [1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, ...
10009860  [1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
10011993  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

In [18]:
data1 = pd.DataFrame()
data1['Behavior_list'] = b
print(data1.head(10))

           Behavior_list
item_id
12502             [3, 1]
35990             [1, 1]
44395             [1, 1]
45976          [1, 2, 1]
47606             [1, 1]
53557    [1, 1, 1, 1, 1]
92198                [1]
94440             [1, 1]
106100               [1]
108953            [1, 1]

In [19]:
data2 = pd.DataFrame()
data2['user_id_list'] = c
print(data2.head(10))

                                              user_id_list
item_id
12502                               [107264414, 107264414]
35990                                 [10095384, 10095384]
44395                               [111013189, 111013189]
45976                    [101321698, 101321698, 101321698]
47606                               [106734263, 106734263]
53557    [100243045, 100243045, 100243045, 100243045, 1...
92198                                          [100764607]
94440                               [107546486, 107546486]
106100                                         [100226515]
108953                              [110507614, 110507614]

# Number of commodity actions

In [20]:
data1['Number_of_acts'] = data2['user_id_list'].apply(lambda x: len(x))

In [21]:
print(data1['Number_of_acts'] )

item_id
12502        2
35990        2
44395        2
45976        3
47606        2
53557        5
92198        1
94440        2
106100       1
108953       2
140594       3
156244       1
167698       2
193293       1
227939       1
245918       1
262691       1
284068       9
300317       1
329077       1
335886       2
337096       1
362854       1
384966       2
388234       3
405994       1
410652       1
417914       5
424066       2
427150       1
            ..
404147670    3
404161565    2
404182920    2
404194480    1
404199397    1
404208036    1
404237820    1
404239836    7
404247317    2
404271866    7
404296937    3
404325657    5
404362314    3
404374633    6
404376397    2
404377659    2
404377710    2
404419759    2
404461310    2
404467196    7
404478531    1
404479003    1
404479644    2
404524381    1
404528374    2
404552154    4
404553355    4
404554368    2
404556406    2
404558578    2
Name: Number_of_acts, Length: 29356, dtype: int64

# Statistical characteristics

### Number of times the product was purchased

In [22]:
data['purchase'] = data['Behavior_list'].apply(lambda x: 0 if '4' not in x else Counter(x)['4'])
print(data['purchase'].iloc[7])

1

### Number of users who purchased the item

In [23]:
data1['purchase'] = data1['Behavior_list'].apply(lambda x: 0 if '4' not in x else Counter(x)['4'])
print(data1['purchase'].iloc[0])

0

### Number of times the product was viewed

In [24]:
data['Pageview'] = data['Behavior_list'].apply(lambda x: 0 if '1' not in x else Counter(x)['1'])
print(data['Pageview'].iloc[7])

39

### Number of users who viewed the item

In [25]:
data1['Pageview'] = data1['Behavior_list'].apply(lambda x: 0 if '1' not in x else Counter(x)['1'])
print(data1['Pageview'].iloc[0])

1

### Number of times the product was collected

In [26]:
data['Collection'] = data['Behavior_list'].apply(lambda x: 0 if '2' not in x else Counter(x)['2'])
print(data['Collection'].iloc[7])

0

###  Number of users who collected the item

In [27]:
data1['Collection'] = data1['Behavior_list'].apply(lambda x: 0 if '2' not in x else Counter(x)['2'])
print(data1['Collection'].iloc[0])

0

### Number of times the product was carted

In [28]:
data['Add_shopping_cart'] = data['Behavior_list'].apply(lambda x: 0 if '3' not in x else Counter(x)['3'])
print(data['Add_shopping_cart'].iloc[7])

0

### Number of users who carted the item

In [29]:
data1['Add_shopping_cart'] = data1['Behavior_list'].apply(lambda x: 0 if '3' not in x else Counter(x)['3'])
print(data1['Add_shopping_cart'].iloc[0])

1

# Conversion rate characteristics

### Number of times the product was purchased/Number of times the product was viewed

In [38]:
data['purchase/Pageview'] = data['purchase']/data['Pageview']

In [39]:
print(data['purchase/Pageview'])

user_id
100605       0.000000
1031737      0.000000
1042942      0.000000
1050718      0.000000
1087279      0.000000
1094209      0.000000
1111549      0.083333
10001082     0.025641
10009860     0.029412
10011993     0.010526
10051209     0.000000
10088568     0.062500
10088967     0.000000
10095384     0.077725
10142625     0.000000
10150287     0.000000
10176801     0.012048
10184463     0.000000
10216314     0.000000
10230498     0.000000
10231590     0.003165
10238478     0.003584
10258551     0.000000
10260285     0.000000
10289583     0.250000
10357743     0.000000
10388376     0.004386
10477056     0.000000
10496835     0.000000
10531113     0.010965
               ...
111256954    0.000000
111270700    0.008547
111294118    0.023256
111314602    0.046784
111326653    0.000000
111332776    0.250000
111343582    0.000000
111345634    0.017964
111356041    0.000000
111375820    0.000000
111382789    0.000000
111385135    0.166667
111402076    0.000000
111409210    0.000000
111432262    0.000000
111435559    0.000000
111485020    0.013245
111500023    0.125000
111501667    0.000000
111539434    0.009615
111547609    0.037037
111554425    0.000000
111558415    0.000000
111588601    0.000000
111609931    0.011765
111629758    0.000000
111657607    0.000000
111693916    0.000000
111694210    0.014815
111699844    0.000000
Name: purchase/Pageview, Length: 671, dtype: float64

### Number of users who purchased the item/Number of users who viewed the item

In [40]:
data1['purchase/Pageview'] = data1['purchase']/data1['Pageview']

In [41]:
print(data1['purchase/Pageview'])

item_id
12502        0.000000
35990        0.000000
44395        0.000000
45976        0.000000
47606        0.000000
53557        0.000000
92198        0.000000
94440        0.000000
106100       0.000000
108953       0.000000
140594       0.000000
156244       0.000000
167698       0.000000
193293            inf
227939       0.000000
245918       0.000000
262691       0.000000
284068       0.000000
300317       0.000000
329077       0.000000
335886       0.000000
337096       0.000000
362854       0.000000
384966       0.000000
388234       0.000000
405994       0.000000
410652       0.000000
417914       0.000000
424066       0.000000
427150       0.000000
               ...
404147670    0.000000
404161565    0.000000
404182920    0.000000
404194480    0.000000
404199397    0.000000
404208036    0.000000
404237820    0.000000
404239836    0.166667
404247317    0.000000
404271866    0.000000
404296937    0.000000
404325657    0.000000
404362314    0.000000
404374633    0.000000
404376397    0.000000
404377659    0.000000
404377710    0.000000
404419759    0.000000
404461310    0.000000
404467196    0.000000
404478531    0.000000
404479003    0.000000
404479644    0.000000
404524381    0.000000
404528374    0.000000
404552154    0.000000
404553355    0.000000
404554368    0.000000
404556406    0.000000
404558578    0.000000
Name: purchase/Pageview, Length: 29356, dtype: float64

### 购买量/收藏量

In [42]:
data['purchase/Collection'] = data['purchase'] / data['Collection']

### 购买人数/收藏人数

In [43]:
data1['purchase/Collection'] = data1['purchase']/data1['Collection']

### 购买量/加购物车量

In [44]:
data['purchase/Add_shopping_cart'] = data['purchase'] / data['Add_shopping_cart']

### 购买人数/加购物车人数

In [45]:
data1['purchase/Add_shopping_cart'] = data1['purchase']/data1['Add_shopping_cart']

# 比值类特征

### 返客率

In [46]:
data1['Return_rate'] = data1['purchase'] / data1['Number_of_acts']

In [47]:
print(data1['Return_rate'])

item_id
12502        0.000000
35990        0.000000
44395        0.000000
45976        0.000000
47606        0.000000
53557        0.000000
92198        0.000000
94440        0.000000
106100       0.000000
108953       0.000000
140594       0.000000
156244       0.000000
167698       0.000000
193293       1.000000
227939       0.000000
245918       0.000000
262691       0.000000
284068       0.000000
300317       0.000000
329077       0.000000
335886       0.000000
337096       0.000000
362854       0.000000
384966       0.000000
388234       0.000000
405994       0.000000
410652       0.000000
417914       0.000000
424066       0.000000
427150       0.000000
               ...
404147670    0.000000
404161565    0.000000
404182920    0.000000
404194480    0.000000
404199397    0.000000
404208036    0.000000
404237820    0.000000
404239836    0.142857
404247317    0.000000
404271866    0.000000
404296937    0.000000
404325657    0.000000
404362314    0.000000
404374633    0.000000
404376397    0.000000
404377659    0.000000
404377710    0.000000
404419759    0.000000
404461310    0.000000
404467196    0.000000
404478531    0.000000
404479003    0.000000
404479644    0.000000
404524381    0.000000
404528374    0.000000
404552154    0.000000
404553355    0.000000
404554368    0.000000
404556406    0.000000
404558578    0.000000
Name: Return_rate, Length: 29356, dtype: float64

### 返访率

In [48]:
data1['Return_visit_raten'] = data1['Pageview'] / data1['Number_of_acts']

### 返藏率

In [49]:
data1['Return_to_Tibet'] = data1['Collection'] / data1['Number_of_acts']

### 返车率

In [50]:
data1['Return_to_cart'] = data1['Add_shopping_cart'] / data1['Number_of_acts']

# Geo Feature

In [51]:
df['user_geohash1'] = df['user_geohash'].apply(lambda x: 0 if x=='nan' else str(x)[:3])

In [52]:
print(df['user_geohash1'])

0        nan
1        nan
2        nan
3        nan
4        nan
5        nan
6        nan
7        nan
8        nan
9        nan
10       nan
11       nan
12       nan
13       nan
14       nan
15       nan
16       nan
17       nan
18       nan
19       nan
20       nan
21       nan
22       nan
23       nan
24       nan
25       nan
26       nan
27       nan
28       nan
29       nan
        ...
73019    9rn
73020    9rn
73021    9rn
73022    9rn
73023    9rn
73024    9rn
73025    9rn
73026    9rn
73027    9rn
73028    9rn
73029    9rn
73030    9rn
73031    9rn
73032    9rn
73033    9rn
73034    9rn
73035    9rn
73036    9rn
73037    9rn
73038    9rn
73039    9rn
73040    9rn
73041    9rn
73042    9rn
73043    9rn
73044    9rn
73045    9rn
73046    9rn
73047    9rn
73048    9rn
Name: user_geohash1, Length: 73049, dtype: object

In [ ]:
c = df.groupby('user_geohash1')['behavior_type1'].sum()

In [ ]:
print(c)

In [ ]:
data3 = pd.DataFrame()
data3['behavior_list'] = c
print(data3.head(10))

## 区域购买力

In [ ]:
data3['purchase'] = data3['behavior_list'].apply(lambda x: 0 if '4' not in x else Counter(x)['4'])
data3['behavior_total'] = data3['behavior_list'].apply(lambda x: len(x))
data3['Regional_purchasing_power'] = data3['purchase']/data3['behavior_total']
print(data3['Regional_purchasing_power'])

## 区域转化率

### 区域购买量/区域浏览量

In [ ]:
data3['Pageview'] = data3['behavior_list'].apply(lambda x: 0 if '1' not in x else Counter(x)['1'])
data3['purchase/Pageview'] = data3['purchase']/data3['Pageview']

### 区域购买量/区域收藏量

In [ ]:
data3['Collection'] = data3['behavior_list'].apply(lambda x: 0 if '2' not in x else Counter(x)['2'])
data3['purchase/Collection'] = data3['purchase']/data3['Collection']

### 区域购买量/区域加购物车量

In [ ]:
data3['Add_shopping_cart'] = data3['behavior_list'].apply(lambda x: 0 if '3' not in x else Counter(x)['3'])
data3['purchase/Add_shopping_cart'] = data3['purchase']/data3['Add_shopping_cart']

In [ ]:
print(data)

In [ ]:
col = [x for x in data.columns if x != 'Behavior_list']
print(col)
a3 = ['2_item_buy','2_item_view','2_item_collect','2_item_add','2_item_buy_view','2_item_buy_collect','2_item_buy_add']
for i in range(len(col)):
    x = dict(zip(data.index,data[col[i]]))
    df[a3[i]] = df['user_id'].map(x)

In [ ]:
col = [x for x in data1.columns if x != 'Behavior_list']
print(col)
a2 = ['2_item_buypeople','2_item_viewpeople','2_item_collectpeople','2_item_addpeople','2_item_buypeople_viewpeople','2_item_buypeople_collectpeople','2_item_buypeople_addpeople',
'Number_of_acts','2_item_frequentbuypeople_buypeople','2_item_frequentviewpeople_viewpeople','2_item_frequentcollectpeople_collectpeople','2_item_frequentaddpeople_addpeople']

for i in range(len(col)):
    x = dict(zip(data1.index,data1[col[i]]))
    df[a2[i]] = df['item_id'].map(x)

In [48]:
col = ['Regional_purchasing_power','purchase/Pageview','purchase/Pageview','purchase/Add_shopping_cart']
print(col)
a1 = ['4_geo_purchasepower','4_geo_buyview','4_geo_buycollect','4_geo_buyadd']
for i in range(len(col)):
    x = dict(zip(data3.index,data3[col[i]]))
    df[a1[i]] = df['user_geohash1'].map(x)

['Regional_purchasing_power', 'purchase/Pageview', 'purchase/Pageview', 'purchase/Add_shopping_cart']

In [49]:
test = pd.read_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/input_user_item_pair_train_15.xlsx')

In [50]:
drop = ['user_id', 'item_id', 'behavior_type', 'user_geohash', 'item_category',
        'time', 'behavior_type1', 'user_id 1', 'user_id1','user_geohash1','Number_of_acts']
train_col = [x for x in df.columns if x not in drop]
test[train_col] = df[train_col]

In [51]:
print(test)
test.to_excel('D:/个人资料/研究生/学习/研一下/MLF/Project/result of feature/user_item_pair_train_15.xlsx')

       Unnamed: 0      id    user_id    item_id  label        time  \
0             141     142  100029775  287413918      0  2014-12-15
1             142     143  100029775  287413918      0  2014-12-15
2             143     144  100029775  246012058      0  2014-12-15
3             144     145  100029775  130639998      0  2014-12-15
4             145     146  100029775  287413918      0  2014-12-15
5             146     147  100029775   56574541      0  2014-12-15
6             147     148  100029775  313616193      0  2014-12-15
7             148     149  100029775  153973127      0  2014-12-15
8             149     150  100029775  311703684      0  2014-12-15
9             150     151  100029775  287413918      0  2014-12-15
10            151     152  100029775  130639998      0  2014-12-15
11            152     153  100029775  287413918      0  2014-12-15
12            153     154  100029775  287413918      0  2014-12-15
13            154     155  100029775  153973127      0  2014-12-15
14            155     156  100029775  153973127      0  2014-12-15
15            156     157  100029775  222229697      0  2014-12-15
16            157     158  100029775   56574541      0  2014-12-15
17            158     159  100029775   17988661      0  2014-12-15
18            159     160  100029775  255125223      0  2014-12-15
19            160     161  100029775   17988661      0  2014-12-15
20            161     162  100029775  222229697      0  2014-12-15
21            162     163  100029775  287413918      0  2014-12-15
22            163     164  100029775  287413918      0  2014-12-15
23            164     165  100029775  255125223      0  2014-12-15
24            165     166  100029775  287413918      0  2014-12-15
25            166     167  100029775   97350436      0  2014-12-15
26            167     168  100029775   17988661      0  2014-12-15
27            168     169  100029775  287413918      0  2014-12-15
28            169     170  100029775  287413918      0  2014-12-15
29            170     171  100029775  287413918      0  2014-12-15
...           ...     ...        ...        ...    ...         ...
73019      278514  278515  111382789   30987982      0  2014-12-15
73020      278515  278516  111382789  247314506      0  2014-12-15
73021      278516  278517  111382789  368759272      0  2014-12-15
73022      278811  278812  111500023   99133682      0  2014-12-15
73023      278812  278813  111500023  296238508      0  2014-12-15
73024      278813  278814  111500023   99133682      0  2014-12-15
73025      278814  278815  111500023  212981204      0  2014-12-15
73026      278815  278816  111500023  132860040      0  2014-12-15
73027      278816  278817  111500023  332182219      0  2014-12-15
73028      278817  278818  111500023  228102329      0  2014-12-15
73029      278818  278819  111500023  332182219      0  2014-12-15
73030      278819  278820  111500023   23507210      0  2014-12-15
73031      278820  278821  111500023  332182219      0  2014-12-15
73032      278821  278822  111500023  352930672      0  2014-12-15
73033      278822  278823  111500023  132860040      0  2014-12-15
73034      278823  278824  111500023  212981204      0  2014-12-15
73035      278824  278825  111500023  332182219      0  2014-12-15
73036      278825  278826  111500023   99133682      0  2014-12-15
73037      278826  278827  111500023  352930672      0  2014-12-15
73038      278827  278828  111500023   23507210      0  2014-12-15
73039      278828  278829  111500023  228102329      0  2014-12-15
73040      278856  278857  111588601   26973749      0  2014-12-15
73041      278857  278858  111588601  389918425      0  2014-12-15
73042      278858  278859  111588601  389918425      0  2014-12-15
73043      278859  278860  111588601   49496595      0  2014-12-15
73044      278860  278861  111588601   49496595      0  2014-12-15
73045      278861  278862  111588601  213530753      0  2014-12-15
73046      278862  278863  111588601   26973749      0  2014-12-15
73047      278863  278864  111588601   26973749      0  2014-12-15
73048      278864  278865  111588601   49496595      0  2014-12-15

       2_item_buy  2_item_view  2_item_collect  2_item_add  ...  \
0               1           39               0           0  ...
1               1           39               0           0  ...
2               1           39               0           0  ...
3               1           39               0           0  ...
4               1           39               0           0  ...
5               1           39               0           0  ...
6               1           39               0           0  ...
7               1           39               0           0  ...
8               1           39               0           0  ...
9               1           39               0           0  ...
10              1           39               0           0  ...
11              1           39               0           0  ...
12              1           39               0           0  ...
13              1           39               0           0  ...
14              1           39               0           0  ...
15              1           39               0           0  ...
16              1           39               0           0  ...
17              1           39               0           0  ...
18              1           39               0           0  ...
19              1           39               0           0  ...
20              1           39               0           0  ...
21              1           39               0           0  ...
22              1           39               0           0  ...
23              1           39               0           0  ...
24              1           39               0           0  ...
25              1           39               0           0  ...
26              1           39               0           0  ...
27              1           39               0           0  ...
28              1           39               0           0  ...
29              1           39               0           0  ...
...           ...          ...             ...         ...  ...
73019           0           31               0           0  ...
73020           0           31               0           0  ...
73021           0           31               0           0  ...
73022           0           31               0           0  ...
73023           0           31               0           0  ...
73024           0           31               0           0  ...
73025           0           31               0           0  ...
73026           0           31               0           0  ...
73027           0           31               0           0  ...
73028           0           31               0           0  ...
73029           0           31               0           0  ...
73030           0           31               0           0  ...
73031           0           31               0           0  ...
73032           0           31               0           0  ...
73033           0           31               0           0  ...
73034           0           31               0           0  ...
73035           0           31               0           0  ...
73036           0           31               0           0  ...
73037           0           31               0           0  ...
73038           0           31               0           0  ...
73039           0           31               0           0  ...
73040           0           31               0           0  ...
73041           0           31               0           0  ...
73042           0           31               0           0  ...
73043           0           31               0           0  ...
73044           0           31               0           0  ...
73045           0           31               0           0  ...
73046           0           31               0           0  ...
73047           0           31               0           0  ...
73048           0           31               0           0  ...

       2_item_buypeople_collectpeople  2_item_buypeople_addpeople  \
0                            0.000000                         NaN
1                            0.333333                         inf
2                            0.000000                         NaN
3                            0.000000                         NaN
4                            0.000000                         NaN
5                            0.000000                         NaN
6                            0.333333                         inf
7                            0.000000                         NaN
8                            0.000000                         NaN
9                            0.000000                         NaN
10                           0.000000                         NaN
11                           0.000000                         NaN
12                           0.000000                         NaN
13                           0.000000                         NaN
14                           0.000000                         NaN
15                           0.000000                         NaN
16                           0.000000                         NaN
17                           0.000000                         NaN
18                           0.000000                         NaN
19                           0.000000                         NaN
20                           0.000000                         NaN
21                           0.000000                         NaN
22                           0.000000                         NaN
23                           0.000000                         NaN
24                           0.000000                         NaN
25                           0.000000                         NaN
26                           0.000000                         NaN
27                           0.000000                         NaN
28                           0.000000                         NaN
29                           0.333333                         inf
...                               ...                         ...
73019                        0.000000                         NaN
73020                        0.000000                         NaN
73021                        0.000000                         NaN
73022                        0.000000                         NaN
73023                        0.000000                         NaN
73024                        0.000000                         NaN
73025                        0.000000                         NaN
73026                        0.000000                         NaN
73027                        0.000000                         NaN
73028                        0.000000                         NaN
73029                        0.000000                         NaN
73030                        0.000000                         NaN
73031                        0.000000                         NaN
73032                        0.000000                         NaN
73033                        0.000000                         NaN
73034                        0.000000                         NaN
73035                        0.000000                         NaN
73036                        0.000000                         NaN
73037                        0.000000                         NaN
73038                        0.000000                         NaN
73039                        0.000000                         NaN
73040                        0.000000                         NaN
73041                        0.000000                         NaN
73042                        0.000000                         NaN
73043                        0.000000                         NaN
73044                        0.000000                         NaN
73045                        0.000000                         NaN
73046                        0.000000                         NaN
73047                        0.000000                         NaN
73048                        0.000000                         NaN

       2_item_frequentbuypeople_buypeople  \
0                                    0.00
1                                    0.25
2                                    0.00
3                                    0.00
4                                    0.00
5                                    0.00
6                                    0.25
7                                    0.00
8                                    0.00
9                                    0.00
10                                   0.00
11                                   0.00
12                                   0.00
13                                   0.00
14                                   0.00
15                                   0.00
16                                   0.00
17                                   0.00
18                                   0.00
19                                   0.00
20                                   0.00
21                                   0.00
22                                   0.00
23                                   0.00
24                                   0.00
25                                   0.00
26                                   0.00
27                                   0.00
28                                   0.00
29                                   0.25
...                                   ...
73019                                0.00
73020                                0.00
73021                                0.00
73022                                0.00
73023                                0.00
73024                                0.00
73025                                0.00
73026                                0.00
73027                                0.00
73028                                0.00
73029                                0.00
73030                                0.00
73031                                0.00
73032                                0.00
73033                                0.00
73034                                0.00
73035                                0.00
73036                                0.00
73037                                0.00
73038                                0.00
73039                                0.00
73040                                0.00
73041                                0.00
73042                                0.00
73043                                0.00
73044                                0.00
73045                                0.00
73046                                0.00
73047                                0.00
73048                                0.00

       2_item_frequentviewpeople_viewpeople  \
0                                      1.00
1                                      0.75
2                                      1.00
3                                      1.00
4                                      1.00
5                                      1.00
6                                      0.75
7                                      1.00
8                                      1.00
9                                      1.00
10                                     1.00
11                                     1.00
12                                     1.00
13                                     1.00
14                                     1.00
15                                     1.00
16                                     1.00
17                                     1.00
18                                     1.00
19                                     1.00
20                                     1.00
21                                     1.00
22                                     1.00
23                                     1.00
24                                     1.00
25                                     1.00
26                                     1.00
27                                     1.00
28                                     1.00
29                                     0.75
...                                     ...
73019                                  1.00
73020                                  1.00
73021                                  1.00
73022                                  1.00
73023                                  1.00
73024                                  1.00
73025                                  1.00
73026                                  1.00
73027                                  1.00
73028                                  1.00
73029                                  1.00
73030                                  1.00
73031                                  1.00
73032                                  1.00
73033                                  1.00
73034                                  1.00
73035                                  1.00
73036                                  1.00
73037                                  1.00
73038                                  1.00
73039                                  1.00
73040                                  1.00
73041                                  1.00
73042                                  1.00
73043                                  1.00
73044                                  1.00
73045                                  1.00
73046                                  1.00
73047                                  1.00
73048                                  1.00

       2_item_frequentcollectpeople_collectpeople  \
0                                             0.0
1                                             0.0
2                                             0.0
3                                             0.0
4                                             0.0
5                                             0.0
6                                             0.0
7                                             0.0
8                                             0.0
9                                             0.0
10                                            0.0
11                                            0.0
12                                            0.0
13                                            0.0
14                                            0.0
15                                            0.0
16                                            0.0
17                                            0.0
18                                            0.0
19                                            0.0
20                                            0.0
21                                            0.0
22                                            0.0
23                                            0.0
24                                            0.0
25                                            0.0
26                                            0.0
27                                            0.0
28                                            0.0
29                                            0.0
...                                           ...
73019                                         0.0
73020                                         0.0
73021                                         0.0
73022                                         0.0
73023                                         0.0
73024                                         0.0
73025                                         0.0
73026                                         0.0
73027                                         0.0
73028                                         0.0
73029                                         0.0
73030                                         0.0
73031                                         0.0
73032                                         0.0
73033                                         0.0
73034                                         0.0